
html, body {
    margin: 0;
    background-color: #2F4F30;
    color: white;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 0px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 22%;
    left: 14%;
    margin-left: -15%
}

.carta-inicial {
    position: relative;
    width: 22%;
    left: 14%;
    margin-left: -15%
}

.footer{
    background-color: black;
    width: 100%;
    padding 0px;
}

.t-descripcion {
    position: relative;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 18px;
    left-margin: 20px;
    background-color: black;
}
